/*VARIABLES */
$text: #4C4C4C; //regular text color
$head-text: #BABABA; //black text
$a-gray: #F6F6F6; //light gray
$b-gray: #CBCBCB; //light middle gray
$c-gray: #CDCDCD; //hard gray
$d-gray: #BABABA; //hard middle gray
$font: 'Circe'; //main font
$white: #fff;
$a-green: #13b156;
$b-green: #16a754;
$c-green: #20DF71;