/* Extra small devices (phones, less than 768px) */
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    width: 1034px; }
  .parallax_object1 {
    position: absolute;
    top: 162px;
    left: 128px;
    z-index: -1; }
  .parallax_object2 {
    position: absolute;
    top: 300px;
    left: 16px;
    z-index: -1; }
  .parallax_object3 {
    position: absolute;
    top: 285px;
    left: 11px;
    z-index: -1; }
  .parallax_object4 {
    position: absolute;
    top: 403px;
    right: 13px;
    z-index: -1; } }
