/* GENERAL */

html {
    height: 100%;
}

body {
    font-family: 'Proxima Nova Rg', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Circe', sans-serif;
    font-size: 2.250em;
    font-weight: 700;
    line-height: 1.06;
    margin-bottom: 22px;
    color: #b3b3b3;
}
h2 {
    font-family: 'Circe', sans-serif;
    font-size: 2.250em;
    font-weight: 700;
    line-height: 1.06;
    margin-bottom: 22px;
    color: #b3b3b3;
}

h3 {
    font-family: 'Circe', sans-serif;
    font-size: 1.750em;
    font-weight: 700;
    margin-bottom: 30px;
    letter-spacing: -.3px;
    color: #b3b3b3;
}

h4 {
    font-family: 'Circe', sans-serif;
    font-size: 1.875em;
    font-weight: bold;
    line-height: 1.07;
    margin-top: 35px;
    margin-bottom: 29px;
    color: #81cec5;
}

h5 {
    font-family: 'Proxima Nova Rg', sans-serif;
    font-size: 1.125em;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
    color: #4fc8be;
}

input {
    font-size: 1.250em;
    min-width: 43%;
    margin-right: 13px;
    margin-bottom: 6px;
    padding: 5px 5px 11px 1px;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    background-color: transparent;
    -webkit-box-shadow: inset 0 1px 4px 0 #fff, inset 0 0 0 50px #fff, 0 1px rgba(255, 255, 255, .06) !important;
    -webkit-appearance: none;
}

input:focus {
    border-color: #81cec5;
    outline: none;
}

::-webkit-input-placeholder {
    color: #b3b3b3 !important;
}

::-moz-placeholder {
    color: #b3b3b3 !important;
}

:-moz-placeholder {
    color: #b3b3b3 !important;
}

:-ms-input-placeholder {
    color: #b3b3b3 !important;
}

a {
    font-family: 'Circe', sans-serif;
    font-weight: 400;
    line-height: 1.2;
    color: #fff;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #fff;
}

button:focus {
    outline: none;
}

a,
.custom_button,
.owl-prev,
.owl-next,
.plus,
.minus,
.arrow_container,
.to_modal,
.to_top,
input,
#form_message,
.transition {
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}


/* BUTTON */

.custom_button {
    font-size: 1.500em;
    font-weight: 400;
    line-height: 1.25;
    display: inline-block;
    width: 89%;
    margin-top: 4px;
    padding: 16px 0 19px 0;
    text-align: center;
    color: #fff;
    border: none;
    background: #81cec5;
    cursor: pointer;
}

.custom_button:hover {
    color: #81cec5;
    background: #f3f3f3;
}

header .custom_button {
    font-family: 'Proxima Nova Rg', sans-serif;
    font-size: 1em;
    font-weight: 500;
    width: 74%;
    padding: 11px 0;
}


/* HEADER */

header {
    position: relative;
    min-height: 600px;
    background: rgba(197, 199, 211, 1);
    background: -moz-linear-gradient(left, rgba(197, 199, 211, 1) 0%, rgba(173, 175, 187, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(197, 199, 211, 1) 0%, rgba(173, 175, 187, 1) 100%);
    background: -o-linear-gradient(left, rgba(197, 199, 211, 1) 0%, rgba(173, 175, 187, 1) 100%);
    background: -ms-linear-gradient(left, rgba(197, 199, 211, 1) 0%, rgba(173, 175, 187, 1) 100%);
    background: linear-gradient(to right, rgba(197, 199, 211, 1) 0%, rgba(173, 175, 187, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#c5c7d3', endColorstr='#adafbb', GradientType=1);
}

header>.container-fluid {
    padding: 0;
}

.left_header_col {
    min-height: 583px;
    background: #4fc8be;
}

.right_header_col {
    overflow: hidden;
    min-height: 583px;
    padding: 0;
}

.header_back {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
}

.header_front {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}


/* NAVIGATION */

.main_menu {
    position: absolute;
    width: 60px;
    height: 60px;
    padding: 9px 5px 0 5px;
    text-align: center;
}

.fixed_menu {
    position: fixed;
    z-index: 2000;
    top: 38px;
    left: 26px;
}

.menu_button {
    cursor: pointer;
}

.menu_button img {
    width: 40px;
}

.close_button {
    position: absolute;
    z-index: 2;
    top: 46px;
    left: 55px;
    cursor: pointer;
}

.close_button img {
    height: 33px;
}

.menu_button:hover,
.close_button:hover,
.box_arrow a:hover {
    opacity: .6;
}

.menu_collapse {
    position: fixed;
    z-index: 3000;
    top: 0;
    left: 0;
    display: none;
    width: 50%;
    min-height: 100vh;
    margin: 0;
    background: #4fc8be;
}

.menu_ul {
    margin-top: 100px;
    list-style: none;
    color: #fff;
}

.menu_ul li {
    width: 340px;
    margin: 0;
}

.menu_ul li a {
    display: inline-block;
    width: 100%;
    padding: 10px 0 10px 75px;
}

.menu_ul li a:hover {
    background: #6de8dd;
}

.menu_ul li a.order_button {
    font-size: 1.375em;
    width: 150px;
    margin-top: 15px;
    margin-left: 75px;
    padding: 10px 0;
    text-align: center;
    color: #4fc8be;
    background: #fff;
}

.menu_ul li a.order_button:hover {
    color: #fff;
    background: #6de8dd;
}


/* JUMBOTRON */

.jumbo_lead {
    position: absolute;
    z-index: 250;
    top: 80px;
    left: -139px;
    width: 450px;
    min-height: 310px;
    padding: 0 0 0 57px;
    color: #fff;
    background: transparent;
}

.logo_pic {
    margin-bottom: 32px;
}

.jumbo_lead p {
    font-family: 'Proxima Nova Rg', sans-serif;
    font-size: 1.750em;
    font-weight: 500;
    line-height: 1.25;
    margin-bottom: 30px;
    color: #fff;
}


/* MOBILE JUMBOTRON */

.mobile_head_add {
    display: none;
}


/* ARROW */

.arrow_container {
    position: absolute;
    top: 455px;
    left: 113px;
}

.box_separator {
    width: 58px;
    height: 42px;
    border-right: 1px solid rgba(255, 255, 255, .3);
    border-left: 1px solid rgba(255, 255, 255, .3);
}

.box_arrow {
    font-size: 3em;
    width: 58px;
    height: 60px;
    text-align: center;
    color: #fff;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}

.box_arrow img {
    vertical-align: baseline;
    ;
}

.box_arrow a:focus {
    outline: none;
}

.arrow_link .arrow_container {
    background: rgba(255, 255, 255, .1);
}

.arrow_link:hover .arrow_container {
    background: rgba(255, 255, 255, .3);
}


/* BEFORE AFTER SLIDER */

.before_after_slider {
    position: relative;
}

.before_after_slider>* {
    position: absolute;
    left: calc(50% - 960px);
}

.black_white {
    overflow: hidden;
}


/* ABOUT PRODUCT */

.about_product {
    padding: 107px 80px 0 53px;
}

.img_wimpern {
    margin: 15px 0 16px 5px;
}

.gray_box {
    position: absolute;
    z-index: -1;
    top: 34px;
    left: 0;
}

.main_ul {
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 0;
    list-style: none;
}

.point_li {
    padding-right: 8px;
}

.slave_ul {
    padding-left: 126px;
}

.right_pluses .slave_ul {
    padding-left: 111px;
}

.about_product p {
    line-height: 1.38;
}

.right_text_col {
    padding-left: 20px;
}

.how_back {
    /*background: url(../img/shape_back.png);
    background-size: cover;*/
}

.how_it {
    padding: 131px 80px 78px 53px;
}

.how_it .right_text_col {
    z-index: 1;
}

.about_next {
    padding-top: 20px;
    padding-left: 35px;
}

.img_eye {
    position: absolute;
    z-index: 0;
    top: 55px;
    right: -10px;
}


/* PRICE */

.price_row {
    padding-top: 40px;
    padding-top: 194px;
}

.left_price {
    position: relative;
    left: 15px;
    margin-top: 32px;
    padding: 8px 15px 55px 61px;
    background: #f3f3f3;
}

.left_price h2,
.right_price h2 {
    margin-bottom: 15px;
    color: #81cec5;
}

.left_price p {
    padding-left: 83px;
}

.right_price {
    margin-top: 32px;
    padding-top: 51px;
}

.right_price img {
    width: 70px;
    margin-top: 15px;
}

.right_price h2 {
    margin-bottom: 0;
}

.right_price p {
    font-size: 1.250em;
    color: #81cec5;
}

.price_btn {
    font-size: 1.5em;
    margin-top: 24px;
}


/* PLUSES */

.about_pluses {
    padding: 159px 49px 75px 53px;
}

.pluses_box {
    position: relative;
    padding-top: 34px;
}

.pluses_box.right_pluses {
    padding-left: 0;
}

.effective {
    position: relative;
    padding-top: 78px;
    padding-left: 50px;
}

.img_effective {
    position: absolute;
    top: 125px;
    left: 0;
}

.image_box {
    padding-top: 42px;
}

.image_box img {
    height: 53px;
    margin-bottom: 33px;
}

.button_container {
    padding-top: 34px;
}

.clients {
    padding-top: 97px;
}


/* CAROUESEL */

.owl-carousel {
    margin-top: 32px;
}

.owl-nav {
    position: absolute;
    top: 42.3%;
    right: -45px;
    left: -45px;
}

.owl-prev {
    position: absolute;
    left: 0;
}

.owl-next {
    position: absolute;
    right: 0;
}

.owl-prev img,
.owl-next img {
    width: 22px;
    height: 63px;
}

.owl-prev:hover,
.owl-next:hover {
    opacity: .6;
}

#customers .item img {
    min-height: 207px;
}

.name {
    font-size: 1.125em;
    font-weight: 700;
    display: table-cell;
    height: 207px;
    padding-left: 26px;
    vertical-align: middle;
    letter-spacing: -.2px;
    color: #828282;
    background: #f3f3f3;
}

.item .col-lg-12 {
    height: 207px;
}


/* PDF */

.doctor_img {
    margin-top: 12px;
    margin-left: 40px;
}

.relative_text {
    position: relative;
    top: -23px;
    left: 5px;
}

.pdf_row {
    margin-top: 113px;
}

.pdf_row a {
    color: #b3b3b3;
    ;
}

.pdf_row a:hover {
    color: #4fc8be;
}

.no_padd_left {
    padding-left: 0;
}

.no_padd_left p {
    font-size: 1.125em;
    font-weight: 500;
}


/* WARRANTY */

.warranty {
    padding-top: 0;
}

.warranty_cont {
    padding-top: 143px;
}

.warranty h2 {
    margin-top: 6px;
}

.left_warranty {
    z-index: 250;
    padding: 25px 5px 0 52px;
}

.right_warranty .gray_box {
    top: 80px;
    left: -80px;
}

.certificate_row {
    padding: 65px 0 9px 0;
}

p.certificate_text {
    font-size: 1.125em;
    font-weight: 500;
    line-height: 1.2;
    padding-left: 29px;
    color: #4fc8be;
}

.certificate_row h4 {
    margin-top: 0;
    margin-left: 28px;
}

.img_certificate {
    position: relative;
    top: 32px;
    left: -69px;
    width: 124%;
}


/* COMMENTS */

.comments {
    padding-top: 54px;
}

.comment_row {
    margin-top: 33px;
    margin-bottom: 147px;
    padding: 64px 0 26px 42px;
    background: #f3f3f3;
}

.comment_human {
    padding-left: 56px;
}

.comment_item {
    margin-bottom: 30px;
}

.comment_row h3 {
    font-size: 1.5em;
}

.comment_row h3 a {
    color: #b3b3b3;
}

.comment_row h3 a:hover,
.comment_row h3 a:focus {
    color: #81cec5;
}


/* FOOTER */

.social_ul {
    margin: 53px 0;
    padding-left: 0;
    list-style: none;
}

.social_ul li {
    font-size: 1.9em;
    display: inline-block;
    margin-right: 37px;
}

.social_ul li a:hover {
    color: #6de8dd;
}

.copyright {
    font-size: .750em;
    letter-spacing: -.1px;
    color: #fff;
}


/* FORM */

.number {
    position: relative;
    display: inline;
    color: #000;
}

.action {
    position: absolute;
    top: -3px;
    right: 17px;
}

.plus,
.minus,
.plus2,
.minus2 {
    cursor: pointer;
    color: #fff;
    background: #c9d1d2;
}

.plus:hover,
.minus:hover,
.plus2:hover,
.minus2:hover {
    background: #81cec5;
}

.plus, .plus2 {
    right: 50px;
    padding: 1px 8px;
}

.minus, .minus2 {
    right: 17px;
    padding: 1px 9px;
}

#pm, #pm2, #pm3 {
    width: 20%;
    min-width: 0;
}

.price_text {
    font-size: 1.250em;
    position: relative;
    top: 2px;
    display: inline-block;
    width: 20%;
    margin-top: 5px;
    padding-bottom: 9px;
    text-align: right;
    color: #81cec5;
    font-weight:700;
    border-bottom: 1px solid #000;
}

.old_price_text {
    display: inline-block;
    position: absolute;
    left:0;
    top:0;
    font-weight: 400;
    color: #dfdfdf;
}
.nonono {
    display: block;
    width: 40px;
    height:2px;
    background: #81cec5;
    position: relative;
    bottom: 15px;
    left: 3px;
}

.errorForm {
    border-bottom: 1px solid red;
}

#form_message {
    min-height: 50px;
    margin-top: 6px;
    margin-bottom: 0;
    padding-right: 35px;
}

#error_form, #error_form2 {
    display: none;
    color: red;
}

#success_form, #success_form2 {
    display: none;
    color: #4fc8be;
}


/* LINES */

.vert_blue {
    position: absolute;
    top: 0;
    right: 0;
    width: 4px;
    height: 64px;
    background-color: #81cec5;
}

.horz_blue {
    position: absolute;
    top: 0;
    right: 0;
    width: 68px;
    height: 4px;
    background-color: #81cec5;
}

.vert_gray {
    position: absolute;
    top: 362px;
    left: 17px;
    width: 2px;
    height: 40px;
    background-color: #eaeaea;
}

.right_pluses .vert_gray {
    left: 2px;
}

.first_line {
    top: 295px;
    right: 16px;
}

.second_line {
    top: 8px;
    right: auto;
    left: -58px;
}

.third_line {
    top: 250px;
    right: auto;
    left: 17px;
}

.fourth_line {
    top: 22px;
    right: auto;
    left: 60px;
}


/* LINE BACK */

.line_back {
    position: relative;
    top: -33px;
    right: 0;
    left: 0;
    width: 100%;
}


/* COMMENTS */


/* FOOOTER */

footer {
    position: relative;
    width: 100%;
}

.footer_back_col {
    min-height: 400px;
    background: #a1a1a1;
}

.footer_front {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.footer_right {
    padding: 37px 20px 20px 83px;
    color: #fff;
    background: #a1a1a1;
}

.footer_left {
    padding: 37px 14px 20px 57px;
}

footer h3 {
    font-size: 1.750em;
    font-weight: 500;
    line-height: .9;
    margin-bottom: 18px;
    letter-spacing: .6px;
}

.footer_right h3 {
    margin-bottom: 21px;
    color: #fff;
}

.footer_left h3 {
    margin-bottom: 13px;
}

.footer_left .copyright {
    margin-top: 6px;
    color: #000;
}

footer .custom_button {
    line-height: 1;
    margin-top: 14px;
    margin-bottom: 23px;
    padding-top: 12px;
    padding-bottom: 14px;
}


/* MODAL */

.to_modal {
    cursor: pointer;
}

.to_modal:hover {
    opacity: .5;
}

a.to_modal2 {
    cursor: pointer;
    color: #727272;
}

a.to_modal3 {
    cursor: pointer;
}

.copyright a:hover {
    color: #4fc8be;
}

.modal-body {
    padding: 0;
}

.modal-body .owl-carousel {
    margin-top: 0;
}

#myModal2 .modal-body {
    padding: 60px 30px 30px 30px;
}

.modal-content {
    border-radius: 0;
}

.modal-dialog {
    width: 820px;
    height: auto;
    padding: 0;
}



/* TO TOP */

.to_top {
    position: fixed;
    right: 51px;
    bottom: 47px;
    display: none;
    text-align: center;
}

.to_top a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #000;
}

.to_top:hover {
    opacity: .5;
}

.to_top img {
    width: 45px;
    height: 45px;
}

.old_price {
    font-size: 0.750em;
    font-weight: 400;
    color: #b3b3b3;
}

/* */
.modal-backdrop.in {
    opacity: .2;
}


/* NEW YEAR */
.new_year {
    background: url('../img/new/ny_back.png') center;
    background-size: cover;
    min-height:530px;
    color: #545454;
}
.new_year_content {
    padding: 8% 16%;
}

.new_year_content .custom_button {
    width: 48%;
}

.new_year_content .custom_button:hover {
    background: #fff;
}

.old_new_price {
    position: relative;
    margin-bottom:30px
}

.ny_np {
    font-size: 2.625em;
    font-weight: 700;
    color: #81cec5;
}

.ny_op {
    font-size: 2.250em;
    margin-right: 10px;
    color: #c1c1c1;
    position: relative;
    display: inline-block;
}
.onp {
    position: absolute;
    width: 130px;
    height: 4px;
    background: #81cec5;
    top: 24px;
    left: 0;
    display: block;
}

.new_lines {
    background: url('../img/new/new_lines.png') center;
    background-size: cover;
}
